#gradient {
     background-image: radial-gradient(circle at top left, rgb(49, 157, 235) 0%, rgb(49, 157, 235) 13%, rgb(76, 166, 234) 13%, rgb(76, 166, 234) 23%, rgb(103, 176, 232) 23%, rgb(103, 176, 232) 33%, rgb(130, 185, 231) 33%, rgb(130, 185, 231) 46%, rgb(156, 194, 230) 46%, rgb(156, 194, 230) 48%, rgb(183, 203, 229) 48%, rgb(183, 203, 229) 63%, rgb(210, 213, 227) 63%, rgb(210, 213, 227) 83%, rgb(237, 222, 226) 83%, rgb(237, 222, 226) 100%);
     animation: expand 50s ease-in-out infinite;
}

@keyframes expand {
     0% {
          background-size: 100% 100%;
     }

     50% {
          background-size: 200% 200%;
     }

     100% {
          background-size: 100% 100%;
     }
}

#wave {
     animation: waveAnimation 100s infinite;
}

@keyframes waveAnimation {
     0% {
          d: path("M0,224L48,197.3C96,171,192,117,288,90.7C384,64,480,64,576,96C672,128,768,192,864,218.7C960,245,1056,235,1152,197.3C1248,160,1344,96,1392,64L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
     }

     15% {
          d: path("M0,224L48,213.3C96,192,192,160,288,133.3C384,107,480,85,576,85.3C672,85,768,107,864,133.3C960,160,1056,192,1152,197.3C1248,203,1344,181,1392,170.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
     }

     30% {
          d: path("M0,224L48,197.3C96,160,192,96,288,64C384,32,480,32,576,85.3C672,139,768,245,864,250.7C960,256,1056,160,1152,128C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
     }

     45% {
          d: path("M0,224L48,229.3C96,235,192,245,288,240C384,235,480,213,576,202.7C672,192,768,192,864,186.7C960,181,1056,171,1152,170.7C1248,171,1344,181,1392,186.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
     }

     60% {
          d: path("M0,224L48,197.3C96,160,192,96,288,64C384,32,480,32,576,85.3C672,139,768,245,864,250.7C960,256,1056,160,1152,128C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
     }

     75% {
          d: path("M0,224L48,213.3C96,192,192,160,288,133.3C384,107,480,85,576,85.3C672,85,768,107,864,133.3C960,160,1056,192,1152,197.3C1248,203,1344,181,1392,170.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
     }

     100% {
          d: path("M0,224L48,197.3C96,171,192,117,288,90.7C384,64,480,64,576,96C672,128,768,192,864,218.7C960,245,1056,235,1152,197.3C1248,160,1344,96,1392,64L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
     }
}

section {
     min-height: 100vh;
     padding: 0 100px;
}